@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.title-container {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.title-container img {
  height: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  background: #1a1a1a;
  width: 70%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 14px;
  padding: 0 15px;
  outline: none;
  transition: border-color 0.2s ease-in;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #ff7373;
}

.form-group button {
  background-image: linear-gradient(-90deg, #ff7373 0%, #fddb33 100%);
  border-radius: 5px;
  border: 0;
  width: 70%;
  height: 45px;
  color: #1a1a1a;
  font-size: 16px;
  font-family: "Poppins Bold", sans-serif;
  cursor: pointer;
}

.form-group:last-child {
  margin-top: 40px;
}

#resultado {
  font-size: 26px;
  width: 70%;
  text-align: center;
}
